.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 2rem 10rem 0 10rem;
  padding: 5rem;
  background: #e9ecef;
  border-radius: 0.5rem;
}

.event-container {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
